@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  font-family: 'Lato', sans-serif;
}


/* Navbar */

#logoimg {
  width: 300px;
  color: #002147;
  position: relative;
  margin:0;
  filter: invert(100%);
}


/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    z-index: 9999;
}

.opaque-navbar.opaque {
    background-color: #002147;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {

  .opaque-navbar {
    background-color: rgba(0,0,0,0);
    height: 60px;
    transition: background-color .5s ease 0s;
}

}

.navbar {
  padding-top: 8px;
}

.navbar-brand {

  margin: auto;
}


/* Carousel */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #f4f4f4;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  padding: none;
}
/* Since positioning the image, we need to help out the caption */
.carousel-container {
  min-width: 80vw;
}

.container-caption {
  align-items: center;
}





/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


@media only screen and (max-width: 590px){
  .carousel-caption {

  }
  #logoimg {
    width: 50vw;
  }

}

.carousel-indicators li {
    border-radius: 12px;
    max-width: 12px;
    height: 12px;
    background-color: #404040;
    border:
}

.btn-dwblue {
  background-color: #002147;
  color: #fff;
}

.btn-dwwhite {
  background-color: #fff;
  color: #002147;
}

#imgContainer1 {
  background: url('images/dearcoffee.jpg') 50% 50% no-repeat;
  background-size: 120%;
  height: 30vw;
}

#imgContainer2 {
  background: url('images/bookshelf.jpeg') 50% 50% no-repeat;
  background-size: 120%;
  height: 30vw;
}

#imgContainer3 {
  background: url('images/logoblack.png') 50% 50% no-repeat;
  background-size: 150%;
  height: 30vw;
}

@media only screen and (max-width: 768px) {
  #imgContainer1,
  #imgContainer2,
  #imgContainer3 {
    margin:8px 0 23px 0;
  }
}

body {
  padding: 0; !important;
}

.fontBlue {
  color: #002147;
}

.fontWhite {
  color: #FFF;
}

footer {


}

footer p {

}
